body {
  background-color: palegreen;
  font: arial;
  font-size: 15;
}
h1 {
  color: blue;
}
p {
  color: red;
  border: solid green 1px;
  font: Times;
  font-size: 12;
}
img{
    border: black 10px;
}

table{
  border: solid red 2px;
  color: darkblue;
}

td{
  border: solid red 2px;
  color: darkblue;
}

.center_text
{
    text-align: center;
}
